<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="O2TI\SocialLogin\Model\Resolver\RequestVerificationCode">
        <arguments>
            <argument name="verifyCode" xsi:type="object">O2TI\SocialLogin\Model\VerifyCode</argument>
        </arguments>
    </type>
    <type name="O2TI\SocialLogin\Model\Resolver\VerifyCodeAndLogin">
        <arguments>
            <argument name="verifyCode" xsi:type="object">O2TI\SocialLogin\Model\VerifyCode</argument>
            <argument name="customerTokenService" xsi:type="object">Magento\Integration\Model\CustomerTokenService</argument>
        </arguments>
    </type>
</config>
