<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 O2TI. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config>
    <system>
        <tab id="o2ti" translate="label comment" sortOrder="100">
            <label>O2TI</label>
        </tab>
        <section id="social_login" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Social Login</label>
            <tab>o2ti</tab>
            <resource>O2TI_SocialLogin::config</resource>
            <group id="general" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                <label>Social Login</label>
                <comment>Use external login to register on the site.</comment>
                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="facebook" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                    <label>Facebook</label>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                    <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="api_key" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App ID</label>
                    </field>

                    <field id="api_secret" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App Secret</label>
                    </field>
                </group>

                <group id="google" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20">
                    <label>Google</label>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                    <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="api_key" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App ID</label>
                    </field>

                    <field id="api_secret" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App Secret</label>
                    </field>
                </group>

                <group id="WindowsLive" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30">
                    <label>Windows Live</label>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                    <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="api_key" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App ID</label>
                    </field>

                    <field id="api_secret" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>App Secret</label>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
